.photoLink {
  transition: opacity 0.3s ease;
  
  &:hover {
    opacity: 0.9;
  }
}

.link {
  text-transform: uppercase;

  &::after {
    padding-left: 20px;
    content: url('../../images/arrow.png');
  }
}

img {
  margin-bottom: 24px;
}
