@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
@import '../styles/tokens.less';

/** General */
:focus {
  outline: @clay auto 2px;
  outline-offset: 2px;
}

img {
  max-width: 100%;
  width: 100%;
}

.block,
section {
  max-width: 1440px;
  padding: 52px;
  margin: auto;
}

/** Typography */
body {
  background-color: @oatmeal;
  font-family: @typeface-base;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: @black;
}

h1,
h2,
h3 {
  font-family: @typeface-brand;
  font-weight: 300;
  a,
  a:hover {
    text-decoration: none;
  }
}

a {
  color: @clay;
  text-decoration: underline;
  transition: color 0.3s ease;

  &:hover {
    color: @stone;
  }
}

p {
  margin-bottom: 8px;
}

.caption {
  text-transform: uppercase;
  font-family: @typeface-sanserif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.08em;
  margin-bottom: 24px;
}

/** Utility classes */

.borderBottom {
  border-bottom: 1px solid @black;
  max-width: none;
}

.borderRight {
  border-right: 1px solid @black;
}

.paddingNone {
  padding: 0;
}

.footer {
  padding: 24px;
  text-align: center;
}

/** Overrides */
.custom-control-input:checked ~ .custom-control-label::before {
  background-color: @stone;
}
